ev-btn {
    height: 50px;
    width: 25%;
    line-height: 50px;
    text-align: center;
    border: 2px solid #dd;
    border:none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    opacity:1;
    background-color:rgba(35, 173, 255, 1);
    transition: all 200ms ease-out;
    color:white;
    font-family: "Lucida Console", Courier, monospace;
}
ev-btn:hover {
    opacity:0.8;
    box-shadow: 0 0 10px rgba(35, 173, 255, 1);
    
}
.ev-input{
  width: 230px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px;
  -webkit-transition: border-bottom-color 0.4s ease-in-out;
  transition: border-bottom-color 0.2s ease-in-out;
  border-top:none;
  border-right:none;
  border-left:none;
}
.ev-input:focus {
  outline:none;
  border-bottom-color: rgba(35, 173, 255, 1);
  box-shadow: 0px 17px 10px -15px rgba(35, 173, 255, 1);
}
.form-control {
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,.2);
  
  &:focus {
    box-shadow: 0 1px 5px -2px #42A5F5;
    border-bottom: 1px solid #2196F3;
  }
  
}

.form-group {
  label {
    color: #616161;
  }
}

.form-control-validation(@text-color: #555; @border-color: #ccc; @background-color: #f5f5f5) {
  // Color the label and help text
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: @text-color;
  }
  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-color: @border-color;
    &:focus {
      border-color: darken(@border-color, 10%);
      box-shadow: 0 1px 5px -2px @background-color;
    }
  }
  // Set validation states also for addons
  .input-group-addon {
    color: @text-color;
    border-color: @border-color;
    background-color: @background-color;
  }
  // Optional feedback icon
  .form-control-feedback {
    color: @text-color;
  }
}

.input-group-addon {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 0;
}

// Feedback states
.has-success {
  .form-control-validation(#4CAF50; #4CAF50; #C8E6C9);
}
.has-warning {
  .form-control-validation(#FF9800; #FF9800; #FFE0B2);
}
.has-error {
  .form-control-validation(#F44336; #F44336; #FFCDD2);
}
