ev-btn {
    height: 50px;
    width: 25%;
    line-height: 50px;
    text-align: center;
    border: 2px solid #dd;
    border:none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    opacity:1;
    background-color:rgba(35, 173, 255, 1);
    transition: all 200ms ease-out;
    color:white;
    font-family: "Lucida Console", Courier, monospace;
}
ev-btn:hover {
    opacity:0.8;
    box-shadow: 0 0 10px rgba(35, 173, 255, 1);
    
}
.ev-input{
  width: 230px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 10px;
  -webkit-transition: border-bottom-color 0.4s ease-in-out;
  transition: border-bottom-color 0.2s ease-in-out;
  border-top:none;
  border-right:none;
  border-left:none;
}
.ev-input:focus {
  outline:none;
  border-bottom-color: rgba(35, 173, 255, 1);
  box-shadow: 0px 17px 10px -15px rgba(35, 173, 255, 1);
}
